@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #003366;
  --primary-red: #C41E3A;
  --primary-light: #E6F2FF;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

